.header {
  min-height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  background-color: transparent;
  border-bottom: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    border-bottom: 1px solid #d9fff5;
    z-index: 1;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 88px;
    z-index: 2;
  }

  &__left {
    order: 1;
  }

  &__right {
    order: 2;
  }

  &__logo {
    width: 97px;
  }

  &__divider {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;

    &--side--left {
      display: none;
    }

    &--side--right {
      display: block;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
    margin-left: -16px;
    padding: 25px 0;
    width: 100%;
    order: 3;
    z-index: 2;
  }

  &__highlight {
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 0 10px 10px 0;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #1b1c21;
  }
}


@media (min-width: 768px) {
  .header {
    &__divider--side--left {
      display: block;
      order: 2;
    }

    &__left {
      .btn--type--burger {
        order: 1;
      }
      .header__logo {
        order: 3;
      }
    }
  }

  .btn--view--tablet-only {
    display: inline-block !important;
  }
}

@media (min-width: 1120px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 32px 32px 20px 0;
    border-bottom: none;
    height: auto;

    &::before {
      display: none; 
    }

    &__left,
    &__divider--side--right {
      display: none; 
    }

    &__title-wrapper {
      width: auto;
      margin: 0;
      padding: 0;
      order: 1;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 32px;
      height: auto;
      order: 2;

      .btn--view--tablet-only {
        display: none;
      }
    }
  }

  .btn--type--repair,
  .btn--type--checkstatus {
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    cursor: pointer;
  }

  .btn__text--type--repair,
  .btn__text--type--checkstatus {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #1b1c21;
    white-space: nowrap;
    order: 1;
  }

  .btn__img--type--repair,
  .btn__img--type--checkstatus {
    order: 2;
  }
}
